<script>
  $(document).ready(function() {
    return $("#calendar").fullCalendar({
      events: '/workouts.json'
    });
  });
</script>
  .fc-past{background-color:red;}
<style>
  
</style>

<h1>Listing Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.title %></td>
        <td><%= workout.description %></td>
        <td><%= workout.start %></td>
        <td><%= workout.end %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>

<div id="calendar" style="width: 800px">

</div>